.idea/
requirements.txt
sync_asunc_copy.py
**/batch_output
**/GeoSeg
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
media
tools/
test_merger.py
*~
**/images
**/app
**/single_result
**/batch_results
**/batch_results_lat+docl
**/batch_results_lat+docl_v2
**/batch_results_lat+unet
**/batch_results_pix+docl
**/batch_results_pix+unet
**/batch_results_segments
**/ima
test_pipel.py
merge_demo.py
run.py
test_.py
test_single.py
**/merge_demo_results
**/output
**/frontend
**/models
*.json
*.pdf
*.pt
doclayout_yolo.py
yolov8seg.pt
demo.py
demo2.py
config.py
xm.py
test_xml_parser.py
**/xml
**/.vscode
*.pt
yolov8seg.pt
.fuse_hidden*
test_merger.py
.directory
.Trash-*
.nfs*
*.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/dictionaries
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.xml
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/gradle.xml
.idea/**/libraries
cmake-build-debug/
.idea/**/mongoSettings.xml
*.iws
/out/
.idea_modules/
atlassian-ide-plugin.xml
.idea/replstate.xml
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
.idea/sonarlint
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/
*.mo
*.pt
instance/
.webassets-cache
.scrapy
docs/_build/
target/
.ipynb_checkpoints
.python-version
celerybeat-schedule
*.sage.py
.env
.venv
venv/
ENV/
.spyderproject
.spyproject
.ropeproject
/site
/cpp
/app
setup.py
bad_logs.py
/docker_microservices
/vcpkg
render_test.py
segmenttion_imitation.py
sort_logs.py
test_parser.py
tester.py
run.py
dublicate_pipeline2.py
demo_pipeline.py
/segmentator_results
seg_demo.py
/GeoSeg
/benchmark_output
/merge_output
/pipeline_output
/vcpkg
dome_general.py
formula_extractor.py
test_render.py
segmentation_test.py
seg+ocr+zagl.py
rtree_comparison.py
*.pth
*.pt
