PyYAML==6.0.3
regex==2026.1.15
reportlab==4.4.9
requests==2.32.5
safetensors==0.7.0
scipy==1.17.0
seaborn==0.13.2
setuptools==80.10.2
shellingham==1.5.4
shutilwhich==1.1.0
simsimd==6.5.12
six==1.17.0
stringzilla==4.6.0
sympy==1.14.0
tempdir==0.7.1
thop==0.1.1.post2209072238
timm==0.5.4
tokenizers==0.22.2
torch==2.10.0
torchvision==0.25.0
tqdm==4.67.3
transformers==5.0.0
typer-slim==0.21.1
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.3
ultralytics==8.4.11
ultralytics-thop==2.0.18
urllib3==2.6.3
x-transformers==0.15.0
